<h1>Shared Folder: <%= @folder.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>CV Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cvs.each do |cv| %>
      <tr>
        <td><%= cv.title %></td>
        <td>
          <%= link_to "Download", rails_blob_path(cv.file, disposition: "attachment"), class: "button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
