<h2><%= @folder.name %></h2>

<ul>
  <% @cvs.each do |cv| %>
    <li>
      <strong><%= cv.title %></strong><br>
      <%= cv.description %><br>
      <%= link_to "View PDF", rails_blob_path(cv.file, disposition: "inline") %>
    </li>
  <% end %>
</ul>
